

/* page title style  */
.wink {
    font-size: 100px;
    color: orange;
}

.main-title {
    font-size: 100px;
    text-align: center;
}

.title-text {
    color: whitesmoke;
    text-shadow: 1px 6px 5px #2c3e50;
}

.title {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* page title ends */


/* Site Navigation styles */

.nav {
    background: rgb(155, 37, 37);
    margin-top: -8px;
    padding: 30px;
}
.nav ul {
    list-style-type: none;
    margin-left: 400px;
}

nav ul li {
    display: inline;
    /* background: #bdc3c7; */
    padding: 8px;
    margin-left: 10px;
    
    
}

nav ul li a {
    color: whitesmoke;
    text-shadow: 1px 3px 3px #2c3e50;
    font-size: 22px;
}

/* Site Navigation styles End */
/* ------------------------------ */

/* Site Banner styles */
/* --------------------- */
.banner {
    padding: 40px;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    margin-top: -18px;
}

.banner-inner {
    width: 70%;
    margin: auto;
    border: 5px solid white;
    box-shadow: 7px 7px 7px 0px black;
}

/* Site Banner ends */

/* Main style */
main {
    background: whitesmoke;
    /* padding: 20px; */
  
}

.main-intent {
    padding: 20px;
    text-align: justify;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.extra {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.twitter-follow {
    margin-left: 30px;
}

/* Main ends */

/* Footer starts */
footer {
    background: brown;
    padding: 20px;
}


.grid-alt {
    width: 80%;
    margin: auto;
    text-align: center;
}

.h1-contact {
    text-align: center;
}